.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 70px;
}

.logoWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.titleHeading {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #633BB5;
}

.headerWrapper {
  text-align: center;
}

/* Mobile */
@media (max-width: 1028px) {
  .mainImg {
    max-width: 480px;
    max-height: 480px;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .mainImg {
    max-width: 343px;
    max-height: 343px;
    width: 100%;
    height: 100%;
  }

  .main {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .titleHeading {
    font-size: 16px;
  }

  .logoWrapper {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
}